
:host {
    display: block;
    height: 100vh;
    background: linear-gradient(rgba(12, 12, 12, 0.309), rgba(0, 0, 0, 0.854)), url("https://images.unsplash.com/photo-1483985988355-763728e1935b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZmFzaGlvbnxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    
  }

  #main {
    display: flex;
  
    justify-content: center;
    padding-top: 5rem;
  }
  
  .bottom {
    display: flex;
    justify-content: center;
    margin-top: 25rem;
  }
  
  

  .text{
    color:#C1DCDC;
    font-weight: 100px;
    font-size: large;
    margin-left: 80px;
  }




.welcome-div {
    text-align: center;
    padding: 20px;
   
    border-radius: 10px; 
    background-color: transparent; 
}    

.welcome-heading {
    margin-top:20rem ;
    font-family: sans-serif;
    font-size: 4rem;
    color: #C1DCDC;
    font-family: 'Georgia', serif; 
    font-weight: bolder;
    align-items: baseline;
}

.welcome-heading2 {
color: #C1DCDC;
font-weight: bolder;
font-size: x-large;
font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 30vh;          
  width: 100%;  
}

button {
  width: 19rem;
  padding-top: 1rem;
  color: #C1DCDC;
  margin-left: 120px;      /* Full width of parent */

}